{% extends data.page.layout.type == 'file' ? (data.website.layout.type == 'file' ? (data.website.layout.content~'.html.twig') : (template_from_string(data.website.layout.content))) : template_from_string(data.website_layout) %}


{% block body %}
    <h1>Balsamine</h1>

{% endblock %}
